@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/


.princ
{
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*margin-top: 20%;*/
}
.opcao
{
	text-decoration: none;
	background-color: white;
	color: black;
}