@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/

/*
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}
*/
.princ
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.botao1
{
	text-decoration: none;
	background-color: blue;
	padding: 5px 10px 5px 10px;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	margin-top: 3%;
}